
@{
    @*Layout = "_LayoutAdmin";*@
ViewBag.Title = "Admin Room";
Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Admin Room</title>
</head>
<body>
    <div> 
    </div>
</body>
</html>
